.app {
  background-color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  background-color: rgb(24, 24, 24);
}
